@tailwind base;
@tailwind components;
@tailwind utilities;

[title] {
  position: relative;
}

[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background: #1e293b;
  color: #00ff00;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}